[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/hugo-simplecite"]
	path = themes/hugo-simplecite
	url = https://github.com/joksas/hugo-simplecite
