@font-face {
    font-family: "Spectral";
    src: url("./fonts/Spectral-Regular.ttf") format('ttf');
}

@font-face {
    font-family: "Spectral";
    src: url("./fonts/Spectral-Bold.ttf") format('ttf');
    font-weight: bold;
}


@font-face {
    font-family: "Spectral";
    src: url("./fonts/Spectral-Italic.ttf") format('ttf');
    font-style: italic;
}

body {
    color: var(--body-color);
    font-family: 'Spectral', normal;
    font-size: 20px;
    width: 100%;
    margin: 0 auto 30px auto;
    background-color: var(--bg-color);
}
