<footer class="footer footer__{{ .footerClassModifier }}">
  <ul class="footer__list">
    <li class="footer__item">
      <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">CC-BY</a>
      {{ if isset .context.Site.Params "copyright" }}
        {{ replace .context.Site.Params.copyright "{{ YEAR }}" (now.Format "2006") | markdownify }}
      {{ else }}
        {{ .context.Site.Params.author }}
        {{ now.Format "2006" }}
      {{ end }}
    </li>
    {{ range .context.Site.Menus.footer }}
      <li class="footer__item">
        <a
          class="link"
          href="{{ .URL }}"
          {{ if strings.HasPrefix .URL "http" }}
            target="_blank" rel="noopener noreferrer"
          {{ end }}
          title="{{ .Title }}"
        >
          {{ .Name }}
        </a>
      </li>
    {{ end }}
  </ul>
</footer>
